@import "compass/css3";
@import "normalize";
@import "fonts";

$scheduleSideWidth: 740px;

.cf {
  overflow: auto;
  zoom: 1;
}

body {
	font-family: 'Roboto';
	background: #F3F3F4;
}

header {
	height: 68px;
	width: 100%;
	background: #C1372C;
	@include background-image(linear-gradient(to right, #C1372C, #CC5835));

	> .inner {
		font-family: 'Roboto Slab';
		color: white;
		font-size: 30px;
		max-width: 1020px;
		margin: 0 auto;
	}

	.name {
		display: inline-block;
		margin-top: 12px;
	}
}

#main {
	
	> .inner {
		max-width: 1020px;
		margin:0 auto;
	}

	.classside {
		float: left;
		width: 1020px - $scheduleSideWidth;
		height: 100px;

		.classlist {
			padding: 0;
			
			.class {
				background: #3A3A3C;
				list-style: none;
				color: white;
			}
		}
	}

	.scheduleside {
		float: left;
		width: $scheduleSideWidth;

		.day-labels {
			float: right;
			font-size: 0;
			padding-top: 30px;
			padding-bottom: 20px;

			.label {
				display: inline-block;
				color: #B6B5B5;
				color: #C2C2C2;
				color: #BDBDBD;
				width: 96px;
				font-size: 16px;
				font-weight: 100;
				text-align: center;
			}
		}

		.hours {

		}

		.hour {
			position: relative;
			width: 672px;
			height: 64px;
			background: #E7E8E9;
			float: right;
			clear: right;

			span {
				position: absolute;
				color: #CBCACA;
				margin-right: 16px;
				font-size: 18px;
				font-weight: 100;
				right: 100%;
				top: -11px;
			}

			&.odd {
				background: white;
			}
		}
	}
}