.footer {
    text-align: center;
    font-size: 13px;
    color: #BBBBBB;
    padding-bottom: 12px;

    a {
        color: #888888;
        cursor: pointer;
        text-decoration: none;
        @include transition(all .13s ease-in-out);

        &:hover {
            opacity: .73;
        }
    }
}
