.ca-outline-button {
    background: none;
    border: 1px solid #F2F2F2;
    color: #F2F2F2;
    text-transform: uppercase;
    font-family: 'bunt';
    font-size: 10px;
    letter-spacing: .4em;
    padding: 5px 8px 3px;
    text-align: center;
    text-indent: .4em;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    animation-name: pulse 0.2s linear 2;
    @include transition(all .13s ease-in-out);

    &:hover {
        color: rgba(242, 242, 242, .68);
        border-color: rgba(242, 242, 242, .68);
    }
}

.ca-fill-button {
    background: rgba(56, 56, 56, 0.15);
    border: none;
    outline: none;
    font-family: 'bunt';
    color: rgba(255, 255, 255, .54);
    padding: 9px 13px 7px;
    letter-spacing: .25em;
    border-radius: 4px;
    text-indent: .25em;
    cursor: pointer;
    @include transition(all .13s ease-in-out);

    &.selected {
        color: white;
    }

    &:hover {
        background: rgba(56,56,56,0.27);
    }
}

.ca-simple-button {
    font-size: 9px;
    color: #C4C4C4;
    letter-spacing: .27em;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 2px 3px;
    @include transition(all .13s ease-in-out);

    &:hover {
        opacity: .63;
    }
}

.ca-close {
    color: white;
    cursor: pointer;
    font-size: 19px;
    box-sizing: border-box;
    @include transition(.13s all ease-in-out);

    &:hover {
        opacity: .73;
    }
}
