$full-width: 1044px;
$schedule-side-width: 740px;
$ios-easing: cubic-bezier(.23, 1, .32, 1);
$ios-easing-two: cubic-bezier(.10, .70, .10, 1);

$da-blue: #5B68C6;
$da-purple: #7E57C2;
$da-light-blue: #0093DD;
$da-red: #C8453A;
$da-green: #43A047;
$da-yellow: #FFA726;
$da-pink: #FF69B4;
$da-colors: (
    'blue': $da-blue,
    'purple': $da-purple,
    'light-blue': $da-light-blue,
    'red': $da-red,
    'green': $da-green,
    'yellow': $da-yellow,
    'pink': $da-pink
);

@mixin basket-item() {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
    background: white;
    margin-bottom: 20px;
}
