$full-width: 1044px;
$schedule-side-width: 740px;
$ios-easing: cubic-bezier(.23, 1, .32, 1);
$ios-easing-two: cubic-bezier(.10, .70, .10, 1);

$ca-blue: #5B68C6;
$ca-purple: #7E57C2;
$ca-light-blue: #0093DD;
$ca-red: #C8453A;
$ca-green: #43A047;
$ca-yellow: #FFA726;
$ca-pink: #FF69B4;
$ca-colors: (
    'blue': $ca-blue,
    'purple': $ca-purple,
    'light-blue': $ca-light-blue,
    'red': $ca-red,
    'green': $ca-green,
    'yellow': $ca-yellow,
    'pink': $ca-pink
);

.cf {
    &:before,
    &:after {
        content:"";
        display:table;
    }

    &:after {
        clear:both;
    }

    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@mixin basket-item() {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
    background: white;
    margin-bottom: 20px;

    .button-area {
        font-size: 0;
        position: absolute;
        bottom: 6px;
        left: 5px;

        button {
            margin-right: 10px;
        }
    }

    .item-header {
        height: 35px;
        border-radius: 3px 3px 0 0;
        color: white;
        font-size: 13px;
        padding: 12px 0px 0 33px;
        box-sizing: border-box;
        font-weight: 400;
        @include transition(.13s background ease-in-out);

        .ca-toggle {
            position: absolute;
            height: 35px;
            width: 30px;
            top: 0px;
            left: 0px;
        }

        .ca-close {
            position: absolute;
            height: 35px;
            width: 30px;
            right: 0;
            top: 0;
            text-align: center;
            font-size: 23px;
            padding-top: 5px;
            padding-right: 3px;
        }
    }


    .ca-color-panel {
        position: absolute;
        top: 35px;
        bottom: 0;
        right: 0;
        left: 0;
    }

    select {
        cursor: pointer;
        background: transparent;
        outline: none;
        color: #535353;
        font-weight: 500;
        font-size: 12px;
        border: none;
        @include appearance(none);
        @include transition(.13s all ease-in-out);

        option {
            padding-right: 15px;
        }

        &:hover {
            opacity: .64;
        }
    }

    i.dropdown {
        pointer-events: none;
        font-size: 15px;
        line-height: 0;
        vertical-align: middle;
        color: #888;
    }

    @each $color-name, $color in $ca-colors {
        &.#{$color-name} {
            .item-header {
                background: $color;
            }
        }
    }

    &.inactive {
        .item-header {
            background: #919191 !important;
        }
    }
}
