$full-width: 1044px;
$schedule-side-width: 740px;
$ios-easing: cubic-bezier(.23, 1, .32, 1);
$ios-easing-two: cubic-bezier(.10, .70, .10, 1);

$ca-blue: #5B68C6;
$ca-purple: #7E57C2;
$ca-light-blue: #0093DD;
$ca-red: #C8453A;
$ca-green: #43A047;
$ca-yellow: #FFA726;
$ca-pink: #FF69B4;
$ca-colors: (
    'blue': $ca-blue,
    'purple': $ca-purple,
    'light-blue': $ca-light-blue,
    'red': $ca-red,
    'green': $ca-green,
    'yellow': $ca-yellow,
    'pink': $ca-pink
);

.cf {
    &:before,
    &:after {
        content:"";
        display:table;
    }

    &:after {
        clear:both;
    }

    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

@mixin basket-item() {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
    background: white;
    margin-bottom: 20px;
}
