@import "reset";
@import "bourbon/bourbon";
@import "susy/susy";
@import "variables";
@import "fonts";

body {
    padding: 32px 55px;
    background: #FDFDFD;
    font-family: 'bunt';
}

@import "catalogs";
@import "ui";
