@import "reset";
@import "bourbon/bourbon";
@import "susy/susy";
@import "variables";
@import "fonts";

body {
	font-family: 'bunt';
	background: #F3F3F4;

    &.disable-scroll {
        overflow: hidden;
    }
}

@import "ui";
@import "components";
