@import "reset";
@import "bourbon/bourbon";
@import "susy/susy";
@import "variables";
@import "fonts";
@import "footer";

body {
	font-family: 'bunt';
	background: #F3F3F4;

    &.disable-scroll {
        overflow: hidden;
    }
}

#cornell-catalog-mount {
    padding: 32px 55px;
    background: #FDFDFD;
}

@import "ui";
@import "components";
