container_commands:
  01_symlink_node:
    command: "ln -s /opt/elasticbeanstalk/node-install/node-v0.10.31-linux-x64/bin/node /usr/bin/node"
    ignoreErrors: true
    leader_only: true
  02_knexmigrate:
    command: "node_modules/.bin/knex migrate:latest"
    leader_only: true

option_settings:
  - option_name: NODE_ENV
    value: production