.ca-basket-adder {
    position: relative;
    height: 35px;
    border-bottom: 1px solid #E9E9E9;
    // border-bottom: 1px solid #F4F4F4;

    .icon {
        position: absolute;
        color: #AEAEAE;
        font-size: 22px;
        left: 7px;
        top: 6px;
    }

    .input-wrapper {
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
        bottom: 0;
    }

    input {
        height: 100%;
        width: 100%;
        background: transparent;
        margin: -1px 0 0 0;
        border: 0;
        padding: 0 8px 0 32px;
        box-sizing: border-box;
        outline: none;
        font-size: 12px;
        text-indent: 1px;
        color: #424242;


        @include placeholder {
            color: #AEAEAE;
            text-transform: uppercase;
            font-size: 10px;
            position: relative;
            top: 2px;
            left: 2px;
            letter-spacing: .32em;
            font-weight: 300;
            font-family: 'bunt';
            text-indent: 1px;
        }
    }
}

.autocomplete-suggestions {
    background: white;
    max-height: none !important;
    width: 454px !important;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
    color: #424242;
    margin-top: 2px;
    border-radius: 0 3px 3px 3px;

    .autocomplete-suggestion {
        font-size: 13px;
        line-height: 14px;
        padding: 9px 14px 7px;
        cursor: pointer;
        font-weight: 400;
        @include transition(all .17s $ios-easing);

        strong {
            font-weight: 600;
        }

        &:first-child {
            padding-top: 12px;
            border-radius: 3px 3px 0px 0px;
        }

        &:last-child {
            padding-bottom: 10px;
            border-radius: 0px 0px 3px 3px;
        }

        &.autocomplete-selected {
            background: #EDEDED;
        }
    }
}
