.ca-basket-review {

    .top {
        text-align: center;
        padding-top: 18px;
        padding-bottom: 59px;

        .item {
            width: 100px;
            display: inline-block;

            .primary {
                display: block;
                color: #535353;
                font-size: 30px;
            }

            .secondary {
                color: #A2A2A2;
                font-size: 14px;
            }
        }
    }
}
