.ca-catalog-comment {
    padding-top: 25px;

    &.creation-schema {
        display: none;
    }

    .message {
        color: #717171;
        font-size: 14px;
        line-height: 1.34;
        font-weight: 500;
    }

    .upvote {
        padding: 0px;
        height: 20px;
        padding-right: 6px;

        i {
            font-size: 20px;
            display: inline-block;
            margin-top: -1px;
            margin-left: -1px;
        }

        .label {
            display: inline-block;
            margin-top: -8px;
            font-size: 10px;
            position: relative;
            margin-left: -5px;
            top: -5px;
        }

        &.selected {
            color: #D17E7B;
        }
    }

    .created {
        margin-top: 1px;
        font-size: 11px;
        color: #D2D2D2;
        margin-right: 14px - 3px; // .ca-catalog-button has padding
        font-family: 'bunt';
    }

    .delete {
        margin-top: 1px;
    }

    .bottom {
        padding-top: 12px;
    }

    .bottom-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
    }
}
