.ca-catalog-course {

    &.ca-catalog-item {
        padding-bottom: 15px;
    }

    .add {
        padding-top: 6px;
    }

    h3 {
        color: #717171;
        font-size: 16px;
    }

    .course-section {
        padding-top: 30px;

        > h3 {
            padding-bottom: 10px;
        }
    }
}
