.ca-catalog-comments {

    .empty-message {
        margin-top: 25px;
        font-size: 15px;
        color: #717171;
        display: none;
    }

    .comment-box {
        overflow: auto;
        outline: none;
        box-shadow: none;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        resize: none;
        font-family: 'bunt';
        box-sizing: border-box;
        width: 492px;
        height: 80px;
        font-size: 12px;
        padding: 9px 11px;
        color: #717171;
        display: block;

        @include placeholder {
            color: #CFCFCF;
        }
    }

    .add-comment {
        margin-top: 11px;
    }
}
