.ca-modal-activation {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 16px;

    .icon {
        color: #6E6E6E;
        font-size: 64px;
    }

    p {
        color: #6E6E6E;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.19;
        padding-top: 6px;
    }

    a {
        text-decoration: none;
        font-size: 13px;
        margin-top: 20px;
        display: block;
    }
}
