.ca-schedule-instance {
    position: absolute;
    width: percentage(1 / 7);
    @include user-select(none);

    $day-map: (
        'monday': 0,
        'tuesday': 1,
        'wednesday': 2,
        'thursday': 3,
        'friday': 4,
        'saturday': 5,
        'sunday': 6,
    );

    @each $day, $percent in $day-map {
        &.#{$day} {
            left: percentage($percent / 7);
        }
    }

    &.compact {
        .schedule-instance hr {
            display: none;
        }
    }

    .schedule-instance {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1px;
        right: 1px;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
        border-radius: 3px;
        box-sizing: border-box;
        color: white;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        @include transition(.13s all ease-in-out);

        .instance-wrap {
            position: absolute;
            left: 0;
            right:0;
            top: 50%;
            @include transform(translate(0,-50%));
        }

        .instance-headline {
            font-size: 11px;
            font-weight: 500;
        }

        .instance-location {
            font-size: 10px;
            margin-top: 4px;
        }

        hr {
            border: 0;
            background: rgba(255, 255, 255, .2);
            height: 1px;
            margin: 7px 22px;
        }

        .instance-time {
            font-size: 9px;
            margin-top: 3px;
        }

        &:hover {
            border: 1px solid #f8f8f8;
            // border: 1px solid #515151;
        }
    }
}
