$rowHeight: 75px;

.ca-schedule {
    padding-top: 30px;

    > .left {
        @include span(.75 of 12);
        text-align: right;
        padding-top: 26px;
    }

    &.large > .left {
        padding-top: 52px;
    }

    > .right {
        @include span(11.25 of 12 last);
    }

    .day-labels {
        @extend .cf;
        padding: 0 4px 14px;
        font-weight: 300;

        .day-label {
            width: percentage(1/7);
            display: inline-block;
            text-align: center;
            font-size: 16px;
            color: #D1D1D1;
            letter-spacing: .1em;
        }
    }

    &.large .day-labels {
        padding: 0 8px 28px;

        .day-label {
            font-size: 32px;
        }
    }

    .hour-label {
        height: $rowHeight;
        font-size: 14px;
        color: #D1D1D1;
        font-weight: 300;
        margin-right: -2px;
        letter-spacing: .05em;
    }

    &.large .hour-label {
        height: $rowHeight * 2 !important;
        font-size: 28px;
        margin-right: -4px;
    }

    .schedule-area {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
        border-radius: 4px;

        .schedule-row {
            height: $rowHeight;

            &:nth-child(odd) {
                background: #EDEDED;
            }
        }
    }

    &.large .schedule-area .schedule-row {
        height: $rowHeight * 2 !important;
    }

    .courses-area {
        position: absolute;
        top: 0;
        right: 4px;
        left: 4px;
        bottom: 0;
    }

    &.large .courses-area {
        right: 8px;
        left: 8px;
    }
}
