$rowHeight: 60px;

.ca-schedule {
    @include span(8.4 of 12 last);
    padding-top: 30px;

    > .left {
        @include span(.75 of 12);
        text-align: right;
        padding-top: 26px;
    }

    > .right {
        @include span(11.25 of 12 last);
    }

    .schedule-area {
        background: #FFFFFF;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
        border-radius: 4px;
    }

    .day-labels {
        @extend .cf;
        padding-bottom: 14px;
        font-weight: 300;
    }

    .day-label {
        width: percentage(1/7);
        display: inline-block;
        text-align: center;
        font-size: 16px;
        color: #D1D1D1;
        letter-spacing: .1em;
    }

    .hour-label {
        height: $rowHeight;
        font-size: 14px;
        color: #D1D1D1;
        font-weight: 300;
        margin-right: -2px;
        letter-spacing: .05em;
    }

    .calendar-row {
        height: $rowHeight;

        &:nth-child(odd) {
            background: #EDEDED;
        }
    }
}
