.ca-schedule-course {

    .schedule-section {
        position: relative;

        &.no-options {

            .schedule-instance {
                cursor: default !important;

                &:hover {
                    border: none !important;
                }
            }
        }

        &:active {
            pointer-events: none;
        }
    }

    @each $color-name, $color in $ca-colors {
        &.#{$color-name} .schedule-instance {
            background: $color;
        }
    }
}
