.ca-schedule-course {

    .schedule-section {
        position: relative;

        &:active {
            pointer-events: none;
        }
    }

    @each $color-name, $color in $ca-colors {
        &.#{$color-name} .schedule-instance {
            background: $color;
        }
    }
}
