.da-basket {
    @include span(3.4 of 12);
    padding-top: 55px;

    &.empty {
        .empty-label {
            display: block;
        }
    }

    .empty-label {
        display: none;
        margin-top: 94px;
        text-align: center;
        font-size: 21px;
        color: #C4C4C4;
        letter-spacing: .1em;
    }
}
