.da-color-panel {
    background: rgba(255,255,255,0.92);
    padding: 12px 10px 0px;

    p {
        font-size: 14px;
        color: #535353;
    }

    .swatches {
        font-size: 0;
    }

    .swatch {

    }
}
