<div class="group">
<%
    var componentsRequired = JSON.parse(
            group.get('componentsRequired')),
        componentsOptional = JSON.parse(
            group.get('componentsOptional')),
        groupByline = '';

    if (componentsRequired.length + componentsOptional.length > 1) {
        groupByline = 'Choose';

        _.each(componentsRequired, function(c) {
            groupByline += ' one ' + componentMap[c];
        });
        groupByline += '. ';

        if (componentsOptional.length) {
            var comp = componentsOptional[0];
            comp = comp.charAt(0).toUpperCase() + comp.slice(1);

            groupByline += ' ' + comp + ' optional. '
        }
    }


    var combinations = JSON.parse(group.get('simpleCombinations'));
    if (combinations.length) {
        groupByline += 'Combined with: ';
        _.each(combinations, function(combination, i) {
            groupByline += '<a href="course/' + combination.subject
                + '/' + combination.catalogNbr + '">' +
                combination.subject + combination.catalogNbr +
                '</a>';

            if (i !== combinations.length - 1)
                groupByline += ', ';
        });
    }

    if (groupByline.length) {
%>
    <p class="byline"><%- groupByline %></p>
<%
    }
    var sections = group.related('sections');
%>
    <div class="sections">
<%
        for (var s = 0; s < sections.length; s++) {
            var section = sections.at(s);
%>
            <%- include('section', { section: section }) %>
<%
        }
%>
    </div>
    <div class="credits">
        <p class="primary">4 credits</p>
        <p class="secondary">Student Option</p>
    </div>
</div>
<hr>