<!DOCTYPE html>
<html>
<head>
    <title>Cornellapp</title>
    <link href='/assets/css/style.css' rel="stylesheet">
    <script src="//use.typekit.net/rfd1tkc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="icon" href="/favicon.png" type="image/png" />
</head>
<body>
    <div id="cornell-app-mount"><%- reactOutput %></div>

    <script id='context' type='application/json'>
        <%- contextString %>
    </script>

    <script src="/assets/js/bundle.js"></script>

</body>
</html>