<!DOCTYPE html>
<html>
<head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <link href='/assets/css/style.css' rel="stylesheet">
    <script src="//use.typekit.net/rfd1tkc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <div id="chequerd-app-mount"><%- reactOutput %></div>

    <script id='context' type='application/json'>
        <%- context %>
    </script>

    <script src="/assets/js-built/app.js"></script>

</body>
</html>