<!DOCTYPE html>
<html>
<head>
	<title>Chequerd</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- 	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'> -->
</head>
<body>
	<header>
		<div class="inner">
			<span class="name">Chequerd</span>
		</div>
	</header>
	<div id="main">
		<div class="inner">
			<div class="class-side">
				<div class="class-adder">
					<i class="icon-plus2"></i>
					<input type="text" class="adder-input" placeholder="type a class name/number">
				</div>
				<ul class="class-list">
					<li class="class">
						<div class="cq-toggle">
							<i class="icon-check-box on-icon"></i>
							<i class="icon-check-box-outline-blank off-icon"></i>
						</div>
						<div class="close">
							<i class="icon-close"></i>
						</div>
						<div class="top-section">
							<a class="cq-display" href="javascript:void(0);">INFO 2300: Intermediate Web Dev...</a>
						</div>
						<div class="bottom-section">
							<div class="class-section-group first">
								<i class="icon-arrow-drop-down expand-icon"></i>
								<div class="class-section-option">
									LEC 001
								</div>
<!-- 								<div class="class-section-option">
									LEC 002
								</div> -->
							</div>
							<div class="class-section-group">
								<div class="class-section-option">
									DIS 001
								</div>
<!-- 								<div class="class-section-option">
									DIS 002
								</div> -->
							</div>
							<div class="class-section-group">
								<div class="class-section-option">
									SEM 001
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="schedule-side">
				<div class="day-labels">
					<div class="label">Monday</div>
					<div class="label">Tuesday</div>
					<div class="label">Wednesday</div>
					<div class="label">Thursday</div>
					<div class="label">Friday</div>
					<div class="label">Saturday</div>
					<div class="label">Sunday</div>
				</div>
				<div class="hours">
					<%
						var incrementer = 8;
						var pm = false;
						while (!pm || incrementer != 11) {
							var odd = incrementer % 2 == 0 ? '' : ' odd';

					%>
						<div class="hour<%= odd %>">
							<span><%= incrementer %>:00</span>
						</div>
					<%
							if (incrementer == 12) {
								incrementer = 1;
								pm = true;
							} else {
								incrementer++;
							}
						}
					%>
				</div>
			</div>
		</div>
	</div>
	<!-- TODO -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- // <script src="/assets/js/js-built.js"></script> -->
	<script src="/assets/js/underscore-min.js"></script>
	<script src="/assets/js/html2canvas.js"></script>
	<script src="/assets/js/jquery.autocomplete.js"></script>
	<script src="/assets/js/global.js"></script>
	<script src="/assets/js/jst.js"></script>
	<script src="/assets/js/components.js"></script>
	<script src="/assets/js/init.js"></script>
	<script src="/assets/js/setup.js"></script>
</body>
</html>