<!DOCTYPE html>
<html>
<head>
    <title>Cornellapp</title>
    <link href='/assets/css/screenshot.css' rel="stylesheet">
</head>
<body>
    <div id="cornell-app-mount"><%- reactOutput %></div>
</body>
</html>